:root {
  --clr-primary-100: hsl(220, 15%, 55%);
  --clr-primary-900: hsl(240, 70%, 60%);
  
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-900: hsl(218, 44%, 22%);

  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: 1.25rem;

  --ff-primary: 'Poppins', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-paragraph: var(--ff-primary);

  --fw-semi-bold: 400;
  --fw-bold: 700;
}

/* Utility classes */

.text-light-gray { 
  color: var(--clr-primary-100); 
}
.text-grayish-blue { 
  color: var(--clr-primary-900); 
}
.text-white {
  color: var(--clr-neutral-100);
}
.text-dark-blue {
  color: var(--clr-accent-900);
}
.bg-light-gray { 
  background-color: var(--clr-primary-100); 
}
.bg-grayish-blue { 
  background-color: var(--clr-primary-900); 
}
.bg-white {
  background-color: var(--clr-neutral-100);
}
.bg-dark-blue {
  background-color: var(--clr-accent-900);
}

.fs-300 {
  font-size: var(--fs-300)
}
.fs-400 {
  font-size: var(--fs-400)
}
.fs-500 {
  font-size: var(--fs-500)
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.ff-heading {
  font-family: var(--ff-paragraph);
}
.ff-paragraph {
  font-family: var(--ff-body);
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General classes */

img {
  border-radius: 10px ;
  width: 100%;
  height: auto;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #fff;
  max-width: 300px;
  min-height: 500px;
  margin: auto;
  text-align: center;
  padding: 1rem;
  padding-block-start: 0;
}



